.heading{
    margin-left:40%;
}
#msg{
    margin-left:47% ;
}
#mainbox{
    margin-left:45%;
    width :100px;
    padding: 10px;

    border :10px  solid black;
}
#green{
    margin: 10px 3px;
    height: 100px;
    background-color:green;
    opacity: 0.3;
}
#yellow{
    height: 100px;
    margin: 10px 3px;
    background-color:yellow;
    opacity: 0.3;
}
#red{
    margin: 10px 3px;
    height: 100px;
    background-color:red;
    opacity: 1;
}